@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Cuprum", sans-serif;
    font-optical-sizing: auto;

}
.container{
    background-color: lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.title{
    font-size: 32px;
    padding: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.input-form{
    text-align: center;

}
.input-form .label{
    font-size: 20px;
}
.input-form input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
}

.input-form .button{
    font-size: 20px;

    align-self: center;

}

.result-container{
    border: 1px solid chocolate;
    
    display: flex;
    flex-direction: column;
    width: 300px;
}
.result-container p{
    font-size: 20px;

}